# place this in /etc/nginx/sites-available
# ln -s /etc/nginx/sites-available/project_name.conf /etc/nginx/sites-enabled/project_name.conf
# then ensure include sites-enabled/* is in the http directive block

server {
	listen 80;
	server_name project_name;

	# redirect to gunicorn
	location /miview {
		proxy_redirect          off;
		proxy_set_header        Host            $host;
		proxy_set_header        X-Real-IP       $remote_addr;
		proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_pass http://unix:/tmp/project_name.sock;
	}
}
